
#mytitle{
    text-align: center;
}
#my_pagination{
    text-align: center;
}

#createtable{

    text-align: center;
}

.over,.pageItem{
    float: left;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.pageItem{
    border: 1px solid orangered;
    text-decoration: none;
    color: dimgrey;
    margin-right: -1px;/*解决边框加粗问题*/
}
.pageItem:hover{
    background-color: #f98e4594;
    color:orangered ;
}
.clearfix{
    clear: both;
}
.active{
    background-color: #f98e4594;
    color:orangered ;
}
.banBtn{
    border:1px solid #ff980069;
    color: #ff980069;
}
#prevBtn{
    margin-right: 10px;
}
#nextBtn{
    margin-left: 10px;
}
